In [1]:
! git clone https://github.com/Shreya369/We-R.git

Cloning into 'We-R'...
remote: Enumerating objects: 8, done.
remote: Counting objects: 100% (8/8), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 31 (delta 1), reused 3 (delta 0), pack-reused 23
Unpacking objects: 100% (31/31), done.
Checking out files: 100% (24/24), done.

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
INvideos = pd.read_csv('We-R/YouTube_dataset/INvideos.csv')

In [4]:
INvideos.head()

      video_id  ...                                        description
0  kzwfHumJyYc  ...  Presenting Sharry Mann latest Punjabi Song  Cu...
1  zUZ1z7FwLc8  ...  पीरियड्स के समय, पेट पर पति करता ऐसा, देखकर दं...
2  10L1hZ9qa58  ...  Watch Stylish Star Allu Arjun @ ChaySam Weddin...
3  N1vE8iiEg64  ...  This video showcases the difference between pe...
4  kJzGH0PVQHQ  ...  why Samantha became EMOTIONAL @ Samantha naga ...

[5 rows x 16 columns]

In [5]:
INvideos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37352 entries, 0 to 37351
Data columns (total 16 columns):
video_id                  37352 non-null object
trending_date             37352 non-null object
title                     37352 non-null object
channel_title             37352 non-null object
category_id               37352 non-null int64
publish_time              37352 non-null object
tags                      37352 non-null object
views                     37352 non-null int64
likes                     37352 non-null int64
dislikes                  37352 non-null int64
comment_count             37352 non-null int64
thumbnail_link            37352 non-null object
comments_disabled         37352 non-null bool
ratings_disabled          37352 non-null bool
video_error_or_removed    37352 non-null bool
description               36791 non-null object
dtypes: bool(3), int64(5), object(8)
memory usage: 3.8+ MB

In [6]:
INvideos.describe()

        category_id         views         likes      dislikes  comment_count
count  37352.000000  3.735200e+04  3.735200e+04  3.735200e+04    37352.00000
mean      21.576596  1.060478e+06  2.708272e+04  1.665082e+03     2676.99743
std        6.556593  3.184932e+06  9.714510e+04  1.607617e+04    14868.31713
min        1.000000  4.024000e+03  0.000000e+00  0.000000e+00        0.00000
25%       23.000000  1.239155e+05  8.640000e+02  1.080000e+02       81.00000
50%       24.000000  3.045860e+05  3.069000e+03  3.260000e+02      329.00000
75%       24.000000  7.992912e+05  1.377425e+04  1.019250e+03     1285.00000
max       43.000000  1.254322e+08  2.912710e+06  1.545017e+06   827755.00000